$red-lg : red;
$btn : #54C0C7;
$cl : #fff;


body {
    max-width:82%;
    margin: 0 auto;
    font-family: 'Source Sans 3', sans-serif;
    overflow-x: hidden;
}

// .container {
//     max-width:82%;
//     margin: 0 auto;
//     font-family: 'Source Sans 3', sans-serif;
// }

.groud {
    position: absolute;
    z-index: -1;
    right: -35px;
    width: 760px;
    height: 785px;
    border-radius: 50%;
    border: #54C0C7 solid 50px;
    background-color: #54C0C7;
    top: -267px;
}

header {
    position: relative;
    max-width: 100%;
    height: 180px;
    display: flex;
    align-items: center;

    .button-header-hambuger {
        z-index: 1;
        right: 0;z-index: 1;
        right: 0;
        position: absolute;
        margin-top: 14px;
        font-size: 2rem;
    }
}
div {
    display: flex;
    span {
        color: $red-lg;
        margin-top: 4px;
        font-weight: 300;
        font-size: 1.4rem;
    }
    a {
        color: $red-lg;
        text-decoration: none;
        font-size: 2rem;
        font-weight: 600;
    }
   
}
.logo {
   font-weight: 300;
}



.header ul {
    width: 400px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 300px;
    li {
        font-size: 1.2rem;
        font-weight: 600;
    }
}
.input {
    margin-left: 3rem;
}

.input input {
    width: 240px;
    height: 30px;
    margin-top: -5px;
    border: black solid 2px;
    border-radius: 32px;
    background-color: $btn;
    margin-left: rem;
}
label {
    margin:17px 0 0 -226px;
}

.input i {
    margin-top: 5px;
    margin-left: -30px;
}
 .mail i{
    margin-top: 10px;
    padding-left: 60px;
 }


.mail i {
    margin-top: 10px;
}

.mail p {
    font-size: 0.8rem;
    border:red solid 2px;
    background-color: $red-lg;
    color: $cl;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 4px;
}
.number {
    padding:0 0 5px 3px;
}


// feature

.feature {
    height: 600px;
}

.section {
    display: flex;
}

.feature_section {
    margin-right: 44px;
    flex-direction: column;
    width: 376px;
    justify-content: space-around;
}
.feature_section-item {
    flex-direction: column;
    margin-top: 20px;

    p {
        margin: 3rem 0;
    }
}

.feature_section-item h1 {
    font-size: 3rem;
    font-weight: 500;
}
.feature_section-item h3{
    font-size: 1.5rem;
    font-weight: 500;
}
button {
    width: 260px;
    height: 70px;
    color: $cl;
    background-color: $btn;
    border: none;
}

img {
    width: 866px;
    height: 770px;
}



.feature2{
    height: 450px;
    margin-top: 20rem;
}

.feature_section2 {
    margin-left: 44px;
    flex-direction: column;
    width: 376px;
    justify-content: space-around;
}

.section2 img {
    width: 665px;
    height: 457px;
}

.feature_section-item a {
    color: black;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: underline ;
}

.feature_section-item a, h1, p {

    a {
        margin-bottom: 4rem;
    }
    h1 {
        margin-bottom: 4rem;
    }
    p {
        margin-bottom: 4rem;
    }
}

.groud2 {
    position: absolute;
    z-index: -1;
    left: -400px;
    width: 760px;
    height: 785px;
    border-radius: 50%;
    border: #54C0C7 solid 50px;
    background-color: #54C0C7;
    margin-top: 60px;
}



//connect
.connect {
    flex-direction: column;
}
.connect_item {
    width: 100%;
    margin-top: 10rem;
}

.connect_item h1 {
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: 500;
}
.connect_image {
    margin-top: 7rem;
    margin-left: 20px;
}

.connect_image img {
    width: 340px;
    height: 554px;
    display: flex;
}



.connect_image-item {
    flex-direction: column;
    align-items: center;
    margin-right: 50px;

    .center2_item {
        position: absolute;
        font-size: 1rem;
        flex-direction: column;
        align-items: center;
        

        a {
            color: black;
            margin-right: 17rem;
            margin-top: 20px;
        }
     
    }

    .center3_item {
        position: absolute;
        flex-direction: column;
        align-items: center;

        a {
            font-weight: 500;
            font-size: 1rem;
            color: black;
            margin-right: 49rem;
            text-decoration: underline;
        }
     
    }

    h2 {
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    .flex {
        margin-top: 1.5rem;
    }
}

.flex {
    display: flex;
    margin-bottom: 2rem;
}

.flex p {
    margin-top: 10px;
}

.flex span {
    margin-right: 4px   ;
}



//intro 540 541


.introduce {
    margin-top: 10rem;
    margin-left: 3rem;
}
.introduce2 {
    margin-left: 3rem;
}

.introduce_item-one  {
    width: 540px;
    height: 541px;
    position: relative;
    background-color: #f8a14b;
    margin-right: 20px;

    a {
        color: black;
        font-size: 1rem;
        width: 103px;
        text-decoration: underline;
    }
}

.introduce_item-one img{
    width: 540px;
    height: 541px;
    opacity: 0.3 ;
}


.introduce_item-tow {
     flex-direction: column;
     position: relative;
     
}

.introduce_item-tow img{
    width: 542px;
    height: 262px;
    margin-bottom: 20px;
    opacity: 0.3;
}
.pink {
    position: relative;
    width: 542px;
    height: 262px;
    background-color: pink;
     margin-bottom: 20px;

     a {
        color: black;
        font-size: 1rem;
        width: 103px;
        text-decoration: underline;
    }
}
.violet {
    position: relative;
    width: 542px;
    height: 262px;
    background-color: #8478af;
    margin-bottom: 20px;
}

.violet {
    h1 {
        width: 300px;
        margin-left: 6rem;
    }
    a {
        color: black;
        font-size: 1rem;
        width: 103px;
        text-decoration: underline;
    }
}

.center h1 {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1rem;
}



.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    flex-direction: column;
    align-items: center;
    width: 40px;
  }
// .center_section {
//     display: flex;
// }

.center2 {
    position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: 400;
    margin-left: 32rem;
    color: #fff;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding-top: 20px;
}


.center2_item2 {
    margin-left: 28px;
}

.center2_item a {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    margin: 0 11px 16px 0;
    text-decoration: underline;
}
.center2_item2 a {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    text-decoration: underline;
}
.center2_item2 p {
    font-size: 1rem;
    color: #fff;
    margin: 0 10px;
}

  .center p {
    width: 100px;
    font-size: 1rem;
    margin-top: -20px;
    text-decoration: underline;
  }

  .introduce2_item-one {
    width: 351px;
    height: 375px;
    position: relative;
    background-color: #6c6a6f;

    h1 {
        color: #fff;
    }

    a {
        color: #fff;
        font-size: 1rem;
        width: 103px;
        text-decoration: underline;
    }
  }

  .introduce2_item-one img{
    width: 351px;
    height: 375px;
    opacity: 0.3 ;
}

.introduce2_item-tow {
    width: 730px;
    height: 375px;
    position: relative;
    background-color: #4dc0c6;
    margin-left: 20px;

    a {
        color: black;
        font-size: 1rem;
        width: 103px;
        text-decoration: underline;
    }
  }

.introduce2_item-tow img{
    width: 730px;
    height: 375px;
    opacity: 0.3 ;
}

.join {
    position: absolute;
    z-index: -1;
    left: 0;
    margin-top: 10rem;
    width: 100%;
    height: 515px;
    background-color: #f2f3f3;
    align-items: center;
    display: flex;
}
.join_item {
    flex-direction: column;
    width: 415px;
    margin: 0 4rem 0px 11rem;
}

.join_item  h1 {
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 3rem;
}
.join_input {
    margin-top: 40px;
    width: 555px;
    flex-direction: column; 
}
.join_input-item {
    display: flex;
    margin-bottom: 3rem;
}

.join_item-one {
    flex-direction: column;
}

.join_item-one label {
    margin-left: 1px;
}
.join_item-one input {
    border: none;
    background-color: #f2f3f3;
    border-bottom: #c2c4c5 solid 2px;
    width: 255px;
    height: 30px;
    border-radius: none;
    margin-right: 25px;
}

.join_submit button{
    width: 100%;
    height: 70px;
    margin-top: 10px;
    background-color: #f8a14b;
}


//footer
.footer {
    position: absolute;
    z-index: -1;
    left: 0;
    margin-top: 40rem ;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.footer_tilte {
    margin:8rem 0 3rem 11rem;
}

.footer_tilte h1 {
    margin-right: 12rem;
    font-weight: 500;
    font-size: 2rem;
}
.footer_criteria {
    margin-left: 11rem;
}
.footer_criteria ul{
    list-style: none;
    margin-top: -10px;
}

.footer_item {
    flex-direction: column;
}
.footer_item-m {
    margin:0 117px 0 65px;
}

.footer_item-link {
    font-weight: 500;
    margin: 10px 0;
}

.address {
    width: 100%;
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: 2rem;
    border-top: #6c6a6f solid 2px;
}

.address a {
    margin-left: 11rem;
    padding-top: 50px;
    color: black;
    font-size: 1rem; 
}

.groud-3 {
    position: absolute;
    z-index: 1;
    right: -188px;
    top: 10rem;
    width: 560px;
    height: 555px;
    border-radius: 50%;
    border: #54C0C7 solid 50px;
    background-color: #54C0C7;
}

.footer_icon {
    position: absolute;
    z-index: 2;
    right: 20rem;
    width: 50px;
    margin-top: -30px;
}
.footer_icon i {
    // margin-left: -60px;
    position: relative;
    font-size: 2rem;
    color: #fff;
    margin:0 15px 15px 0;
}



button:hover {
    opacity: 0.4;
    cursor: pointer;
}

i,a,li:hover {
    cursor: pointer;
}

// input:hover {
//     opacity: 0.3;
// }



// .introduce_item-one:hover
// ,.pink:hover
// ,.violet:hover
// ,.introduce2_item-one:hover
// ,.introduce2_item-tow:hover {
//     opacity: 0.6;
// }


//   @media only screen and (min-width: 768px) {
//     /* For mobile phones: */
//    body {
//       width: 100%;
//     }

//     .header {
//         width: 100%;
//     }
//     li {
//         margin-right: 20px;
//     }

//     .feature {
//         width: 768px;
//     }

//     .feature2 {
//         width: 768px;
//     }

//     .section {
//         width: 768px;
//         margin-left: 100px;
//     }
//     .section img {
//         width: 863px;
//     }

//     .section2 {
//         width: 768px;
//     }
//     .groud {

//         left: 800px;
//     }
//     .connect {
//         width: 768px;
//     }
//     .input input {
//         width: 350px;
//     }
//     .input i {
//         margin-left: -70px;
//     }
//     .input label {
//         width: 100%;
//     }

//     .join {
//         width: 1515px;
//     }
//     .groud-3 {
//         right: -183px;
//     }
//     .introduce,.introduce2 {
//        margin-left: 8rem;
//     }
//     .section2 {
//         margin-left: 0.5rem;
//     }
//     .connect_item {
//         margin-left: 6rem;
//     }
//     .footer_icon {
//         margin-right: 50px;
//     }

//   }

// mobile: with < 740px
  @media only screen and (max-width: 767.98px) {
//     .input input {
//         width: 390px;
//     }
//     .input i {
//         padding-left: 30px;
//     }
//     .section {
//       flex-direction: column;  
//       width: 100%; 
//       text-align: center;
//       margin-left: 53px;
//     }
//     .feature_section {
//         width: 100%;
//         margin-left: 15rem;
//     }
//     .feature_section button {
//         width: 100%;
//         background-color: #f8a14b;
//         margin-bottom: 5rem;
//     }
//     .section img {
//         margin-left: 12rem;
//         margin-bottom: 10rem;
//     }

//     .feature2 {
//         padding-top: 50rem;
//     }

//     .section2 {
//         padding-top: 50rem;
//         margin-left: -10px;
//         flex-direction: column-reverse;
//     }

//     .feature_section2 {
//         width: 800px;
//     }
//     .feature_section2 .feature_section-item {
//         width: 800px;
//         margin-left: 14rem;
//         text-align: center;
//     }
//     .feature_section2 button {
//         width: 100%;
//         background-color: #f8a14b;
//         // margin-bottom: 5rem;
//         margin: 20px 0 50px 15rem;
//     }

//     .section2 {
//         width: 100%;
//     }
//     .section2 img {
//         width: 1000px;
//         height: 800px;
//         margin:0  0 10rem 12rem ;
//     }

//     .connect_item h1 {
//         padding-top: 10rem;
//     }

//     .connect {
//         width: 1200px;
//     }

//     .connect_image {
//         width: 100%;
//         margin-left: 5rem;
//         flex-direction: column;
//         align-items: center;
//         .one {
//             width: 100%;
//             margin-left: -5rem;
//             button {
//                 margin-bottom: 4rem;
//             }
//         }
//         .tow {
//             margin-left: -2rem;
//         }
//         &-item img{
//             width: 600px;
//             height: 800px;
//     }
//     .connect_image-it img{
//         width: 600px;
//         height: 800px;
//     }

//     .center2_item a {
//         margin-left: -15rem;
//     }
//     .center3_item {
//         margin-left: -15rem;
//     }
//   }

//   .introduce, .introduce2 {
//     margin-left: 7.3rem;
//   }

//   .join {
//     width: 1410px;
//     flex-direction: column;
//     align-items:center;
//     &_item {
//         width: 42%;
//         align-items: center;
//         margin-left: 8rem;
//         h1 {
//             margin-left:-4rem;
//         }
//     }
//     &_input {
//         margin-left: 3rem;
//     }
//   }

//   .footer {
//     margin-top: 25rem;
//   }
//   .address {
//     width: 67%;
//   }
//   .groud-3 , .groud,.groud2 {
//     right: -190px;
//     display: none;
//   }
    html {
        width: 100%;
    }
    

    .header {
        width: 100%;
        display: inline;
        // overflow: hidden;
        

        .header_hea {
            margin-top: 3rem;
        }


        #header {
            overflow: hidden;
            flex-direction: column;
            width: 100%;
            height: 2px;
            margin-top: 2rem;
            ul {
                flex-direction: column;
                width: 100%;
                margin-left: 0;
                align-items: center;

                li {
                    margin-bottom: 1rem;
                }
            }
            .input {
                margin:0 0 2rem 10rem;
                
                input {
                    background-color: #fff;
                }
            }
            

            .mail {
                margin-left: -2rem;
            }
        }

        li:hover {
            color: #4dc0c6;
        }


        #menu {
            width: 10%;
            height: 20%;
            background-color: #fff;
            border: none;
            color: black;
            margin-top: 0;
        }
    }

    .groud,.groud2,.groud-3 {
        display: none;
    }

    .feature {
        width: 100%;
        margin-top: 34rem;
        .section {
            flex-direction: column-reverse;
            
        }
    }

    .center2 {
        width: 100%;
    }
    .center_section {
        width: 100%;
        img {
            width: 100%;
        }
    }

    .feature_section {
        width: 100%;

        &-item {
            margin-bottom: 2rem;

            h1 , p {
                margin-bottom: 2rem;
            }
        }
    }

    .feature2 {
        width: 100%;
        margin-top: 5rem;
        .section2 {
            flex-direction: column;

            img {
                width: 100%;
            }

            .feature_section2 {
                width: 100%;
                margin-left: 0;
            }
        }
    }
    .feature_section-item {
        a {
            margin-bottom: 2rem;
            font-size: 1.4rem;
        }
        p {
            font-size: 1.4rem;
        }
    }

    .connect {
        width: 100%;
        margin-top: 15rem;

        // &_item {
            
        // }

        &_image {
            flex-direction: column;

            .one {
            flex-direction: column;
            }

            .tow {
                flex-direction: column;
            }
        }

        .connect_image-item {
            img {
                width: 100%;
                align-items: center;
            }

            button {
                margin-bottom: 2rem;
            }

           
        }

        .connect_image-it img{
            width: 100%;
        }

    }



    .introduce {
        width: 100%;

        &_item {
            width: 100%;
            flex-direction: column;
            margin-left: -3rem;


            &-one {
                width: 100%;
                margin-bottom: 1.5rem;
                img {
                    width: 100%;
                }
            }

            &-tow {
                width: 100%;

                .pink {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
                .violet {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .introduce2 {
        width: 100%;

        &_item {
            width: 100%;
            flex-direction: column;
            margin-left: -3rem;


            &-one {
                width: 100%;
                margin-bottom: 1.5rem;
                img {
                    width: 100%;
                }
            }

            &-tow {
                width: 100%;
                margin-left: 0;

                img {
                    width: 100%;
                }
            }
        }
    }




    .join {
        width: 100%;
        flex-direction: column;

        &_item {
            margin-left: 0;
            padding-top: 4rem;
        }
    }

    .footer {
        width: 100%;

        &_tilte {
            margin-left: 5rem;
        }

        &_criteria {
            margin-left: 5rem;
        }

        &_icon {

            margin-right: -12rem;
            i{
                color: black;
                margin: 2rem 0 0 11px;
                font-size: 1.4rem;
            }
        }
        
        
    }


   

}

  // tablet: with >= 740px and with < 1024px (min-width: 46.25em) and (max-width: 63.9375em) 
  @media only screen and  (min-width: 768px){
    .button-header-hambuger {
        display: none;
    }
    
    .section2 img {
        margin-left: 10rem;
    }
    .feature_section {
        width: 100%;
    }
    .connect_image-it {
        display: none;
    }
    .connect_image {
        margin-left: 8rem;
    }  
  }
